  
# OSX
#
.DS_Store
.python-version

# Xcode
#
build/
dist/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.bundle
*.bundle.map
*.jsbundle

# CocoaPods
/ios/Pods/
android/play_store_api_token.json
android/fastlane/.env
ios/fastlane/.env
ios/Spaces.app.dSYM.zip
ios/vendor/*
ios/.bundle

# SonarCube
.scannerwork/

# Jest
coverage/
TODO

# eslint
.eslintcache

android/app/release/

# Bundle
ios/index.bundle
ios/Gruvi/index.bundle
android/app/src/main/assets/index.bundle

# Assets
ios/assets
android/app/src/main/assets/src/
android/app/src/main/assets/images/
android/app/src/main/assets/node_modules/


# Webpack test
index_webpack.js
ios/fastlane/devices.txt
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete